@font-face {
    font-family: fonte-tattoo;
    src: url(/src/main/resources/static/css/font/Madinah-Authentic.otf);
}

h1{
    font-family: "fonte-tattoo";
}

header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fundo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fundo img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px;
    color: white;
}

.form-container h2{
    font-family: "fonte-tattoo";
    text-align: center;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-container button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}