<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breno Lendas - Studio de Tatuagem</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="pagina-layout">
        <aside class="barra-lateral">
            <nav class="navegacao-barra-lateral">
                <a th:href="@{/produto/admin-catalogo}" class="ativo">Catalogo</a>
                <a th:href="@{/orcamentos/admin-orcamentos}">Orçamentos</a>
                <a href="#">Minha Conta</a>
                <a th:href="@{/auth/login}">Sair</a>
            </nav>
            <button class="fechar-barra">×</button>
        </aside>
        <div class="sobrepor"></div>

        <div class="barra-lateral-principal">
            <header>
                <div class="conteudo">
                    <div class="cabecalho-esquerdo">
                        <button class="botao-menu" aria-label="Toggle Menu">☰</button>
                        <img src="/Ilustração_Sem_Título_page-0001.jpg" alt="Logo" class="cabecalho-logo">
                    </div>
                    <nav class="navegacao-principal">
                        <a href="#">Minha Conta</a>
                        <a href="#">Sair</a>
                    </nav>
                </div>
            </header>

            <main class="container">
                <div class="cabecalho-pagina">
                    <h1>Novo Produto</h1>
                </div>

                <form class="formulario" th:action="@{/produto/register}" method="post" enctype="multipart/form-data"
                    th:object="${produto}">
                    <div class="secao-formulario">
                        <h2>Referência Visual</h2>
                        <div class="enviar-imagem">
                            <input type="file" id="tattoo-image" accept="image/*" class="enviar-arquivo"
                                th:field="*{imagem}" required>
                            <label for="tattoo-image" class="nome-arquivo">
                                <div class="icone-upload">+</div>
                                <span>Adicionar foto de referência</span>
                                <p class="dica">Clique para selecionar</p>
                            </label>
                            <div class="visualizacao" style="display: none;">
                                <img src="" alt="Preview" id="image-preview">
                                <button type="button" class="botao-remover-imagem">×</button>
                            </div>
                        </div>
                    </div>

                    <div class="secao-formulario">
                        <h2>Detalhes da Produto</h2>

                        <div class="formulario-dados">
                            <label for="nome">Nome:</label>
                            <input type="text" id="registration-data" th:field="*{nome}" placeholder="Nome" required>
                            <label for="tamanho">Tamanho aproximado (em cm)</label>
                            <div class="tamanhos">
                                <input type="number" id="width" th:field="*{largura}" placeholder="Largura" min="1"
                                    max="100" required>
                                <span>x</span>
                                <input type="number" id="height" th:field="*{altura}" placeholder="Altura" min="1"
                                    max="100" required>
                            </div>

                        </div>

                        <div class="formulario-dados">
                            <label for="description">Descrição e detalhes adicionais</label>
                            <textarea id="description" th:field="*{descricao}" rows="4"
                                placeholder="Descreva os detalhes da sua tatuagem, incluindo cores, estilo e qualquer informação relevante..."
                                required></textarea>
                        </div>

                        <div class="formulario-dados">
                            <label for="valor">Valor: </label>
                            <input type="number" id="registration-data" th:field="*{valor}" placeholder="Valor" required>
                        </div>
                    </div>

                    <div class="botoes-acao">
                        <button type="button" class="botao-secundario"><a
                                th:href="@{/orcamentos/meus-orcamentos}">Cancelar</a></button>
                        <button type="submit" class="botao-primario">Salvar</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <script src="/src/main/resources/static/script.js"></script>
</body>

</html>