<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breno Lenda Tattoo | Cadastro</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
       
    </header>
    <div class="fundo">
        <img src="/src/main/resources/imagens/Tatuagem.jpg" alt="imagem-background">
        <div class="form-container">
            <h2>Formulário de Cadastro</h2>
            <form action="/cliente/register" method="post">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" id="sobrenome">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
                <label for="telefone">Telefone</label>
                <input type="text" name="telefone" id="telefone">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpf">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" name="dataNascimento" id="dataNascimento" required>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>

</html>