<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Breno Lendas - Studio de Tatuagem</title>
    <link rel="stylesheet" href="/css/style_leadpage.css">
</head>

<body>
    <div class="hero">
        <nav>
            <h1>Breno Lendas</h1>
            <div class="nav-links">
                <a th:href="@{/cliente/cadastro}" class="nav-link">Cadastro</a>
                <a th:href="@{/auth/login}" class="nav-link">Entrar</a>
            </div>
        </nav>

        <div class="hero-content">
            <h2>Breno Lendas<br>Studio de Tatuagem</h2>
            <p>Combinando tecnologia e arte, o Studio de Tatuagem Breno Lendas proporciona um atendimento profissional e uma plataforma moderna para facilitar a vida dos tatuadores e clientes.</p>
        </div>
    </div>
</body>