<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breno Lendas - Studio de Tatuagem</title>
    <link rel="stylesheet" href="/style_leadpage.css">
</head>

<body>
    <div class="hero">
        <main class="container login-container">
            <div class="login-wrapper">
                <div class="login-header">
                    <h1>Entrar</h1>
                </div>

                <form class="formulario login-form" th:action="@{/auth/logar}" method="post" th:object="${login}">
                    <div class="secao-formulario">
                        <div class="formulario-dados">
                            <label for="email">Email:</label>
                            <input type="email" id="email" th:field="*{email}" class="input-padrao login-input" required />
                        </div>

                        <div class="formulario-dados">
                            <label for="senha">Senha:</label>
                            <input type="password" id="senha" th:field="*{senha}" class="input-padrao login-input" required />
                        </div>
                    </div>

                    <div class="botoes-acao login-actions">
                        <a th:href="@{/home}" class="botao-secundario login-input">Voltar</a>
                        <button type="submit" class="botao-primario login-button">Entrar</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>