<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breno Lenda Tattoo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Breno Lenda Tattoo</h1>
        <nav>
            <ul>
                <li><a href="#login">Login</a></li>
                <li><a href="#sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <div class="fundo">
        <img src="/src/main/resources/imagens/Tatuagem.jpg" alt="imagem-background">
        <div class="form-container">
            <h2>Login</h2>
            <form action="" method="post">
                <input type="text" placeholder="Usuário" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>

</html>